p{
    color:rgb(224, 0, 75);
    text-align: justify;
    text-transform: capitalize;
    text-indent: 50px;
    font-size: 20px;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color:cadetblue
}
h2{
    text-decoration: underline;
    color:crimson;
    letter-spacing: 7px;
    word-spacing: 15px;
    text-shadow: 3px 2px rgb(16, 158, 214);
}
/* text-align:left, right, justify, center */
/* text-decoration: none, overline, underline, line-through; */
/* text-transform: lowercase, uppercase, capitalize */
/* text_indent is make blank in the 1st line.. */
/* line-height maintance according to font size. use: number value: 1,2...., or, pixel value */