h2{
    font-family: Agency FB;
    font-size: 3em;
    font-style: italic;
    font-weight: normal;
}
p{
    font-weight: bold;
    font-variant: small-caps;
}
/* font size: em, px */
/* font-style: italic, normal, oblique etc */
/* font-weight: bold, normal. 
bold= 700; and normal=500

font weight: normal = 400 and bold = 700*/
/* font-variant: normal, small-caps. */

/*font-family: ms word e jotogula font ase shobgulai font family */