.fa-facebook{
    font-size: 50px;
    color: rgb(4, 85, 73);
    background-color: burlywood;
}
body{
    background-color: rgb(225, 159, 159);
}

/* fab icon choto kre & fa-facebook icon boro rakhe */
/* fa & fa-facebook, insta esob chalano jay na and shob kisu offf