.box{
    width: 600px;
    height: 350px;
    background: lightcoral;
    position: relative;

    /* position: absolute;
    top: 0px;
    right:0px;
    left: 0px;
    bottom: 0px;
    margin: auto; */
    /* top: 0px;
    right:0px;
    bottom: 0px;
    margin: auto; */
    /* top: 0px;
    left:0px;
    bottom: 0px;
    margin: auto; */
    /* bottom: 0px;
    right: 0px;
    left:0px;
    margin: auto; */
    /* top: 0px;
    right: 0px;
    left:0px;
    margin: auto; */
    /* bottom: 0px;
    right: 0px; */
    /* bottom:0px;
    left:0px; */
    /* top: 0px;
    left: 0px; */
    /* top:0px;
    right:0px; */
}
.box2{
    width: 180px;
    height: 180px;
    background: palegoldenrod;
    position: absolute;
    right:0;
    bottom: 0;
    left: 0;
    top:0;
    margin: auto;
    border-radius: 50%;
}

.name{
    border: 3px solid rgb(175, 104, 118);
    padding: 5px;
    margin-top: 15px;
    background: rgb(62, 108, 62);
    position: sticky;
    top: 0
}

/*p{
    padding-bottom: 1000px;
}*/

/*p{
    position: fixed;
    bottom: 0;
    height: 0;
    width: 300px;
    border: 2px solid #6d2222;
}*/

.l{
    position: fixed;
    bottom: 0;
    height: 0;
    width: 300px;
    border: 2px solid #6d2222;
}

/* position sticky use krte hole top 0 kre nite hoy(position: sticky;
    top: 0) */

/* position: sticky, relative, fixed,  absolute*/