.lazy {
    width: 550px;
    height: 350px;
    background: rgb(143, 143, 209);
    /* padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px; */
    padding: 50px 100px 50px 100px;
}